#game-board button {
  --shadow-topleft: 0.25em 0.25em 0.25em;
  --shadow-bottomright: -0.25em -0.25em 0.25em;

  margin: 0.2em;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  height: 2em;
  width: 2em;
  line-height: 2em;
  color: #333;
  border: 0 none;
  border-radius: 0.25em;
  font-weight: bold;
  position: relative;
  z-index: 5;
}

#game-board button::before,
#game-board button::after {
  --pseudo-margin: 0;

  content: '';
  border-radius: 50%;
  position: absolute;
  top: var(--pseudo-margin);
  left: var(--pseudo-margin);
  right: var(--pseudo-margin);
  bottom: var(--pseudo-margin);
}

#game-board button.pristine {
  background: var(--medium-pristine);
  box-shadow:
    inset var(--light-pristine) var(--shadow-topleft),
    inset var(--dark-pristine) var(--shadow-bottomright);
}

#game-board button.touched {
  background: var(--medium-touched);
  box-shadow:
    inset var(--dark-touched) var(--shadow-topleft),
    inset var(--light-touched) var(--shadow-bottomright);
  cursor: default;
}

#game-board button.pristine.flag {
  cursor: not-allowed;
}

#game-board button.flag::after {
  content: '⚑';
  font-size: 1.333em;
  z-index: -5;
}

#game-board button.mijn {
  background: transparent;
  box-shadow: none;
}

#game-board button.mijn::before {
  --pseudo-margin: 10%;
  --glow-color: white;
  --glow-offset: -1px -1px 3px 0;

  z-index: -10;
}

.game-lost #game-board button.flag::after {
  color: var(--state-red);
}

#game-board button.mijn.flag::after {
  color: white;
  text-shadow: -1px -1px 0px #6666;
}

.game-won #game-board button.mijn::before {
  background:
    radial-gradient(ellipse 50% 80% at 10% 50%, var(--ultra-light-blue) 14%, 16%, transparent),
    radial-gradient(ellipse 50% 50% at 52% 50%, transparent 90%, var(--extra-dark-blue) 110%),
    radial-gradient(ellipse 60% 80% at 86% 50%, var(--light-blue) 4%, transparent 48%),
    var(--darker-blue);
	transform: rotate(45deg);
  box-shadow: var(--glow-color) var(--glow-offset);
}

.game-lost #game-board button.touched:not(.mijn) {
  background: none;
  --shadow-topleft: 1px 1px 1px;
  --shadow-bottomright: -1px -1px 1px;
}

.game-lost #game-board button.mijn::before {
  --glow-color: var(--fire-yellow);

  background: radial-gradient(
    ellipse at 25% 25%,
    white 10%,
    #975 27%,
    #032 46%
  );
  box-shadow: var(--glow-color) var(--glow-offset);
}

.game-lost #game-board button.mijn.explode {
  z-index: 10;
}

.game-lost #game-board button.mijn.exploded::before,
.game-lost #game-board button.mijn.explode::before {
  --pseudo-margin: 10%;

  background: radial-gradient(
    ellipse at 25% 25%,
    #666 8%,
    #000 33%
  );
  box-shadow: none;
}

.game-lost #game-board button.mijn.explode .burst {
  display: inline-block;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);
  margin: 50%;

  background: radial-gradient(
    var(--fire-blue),
    var(--fire-red) 25%,
    var(--fire-orange) 50%,
    var(--fire-yellow) 75%
  );
  border-radius: 50%;

  position: relative;
  z-index: -15;

  animation-name: explode;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
}

@keyframes explode {
  from {
    width: 50%;
    height: 50%;
    opacity: .8;
  }
  to {
    width: max(200vw, 200vh);
    height: max(200vw, 200vh);
    opacity: 0;
  }
}
