
.css-colors {
  display: flex;
}

.css-colors > * {
  flex: 1 1;
  padding-block: 1ex;
}

.svg-symbols {
  display: flex;
  flex-wrap: wrap;
  background: var(--medium-to-dark-blue);
 }

  .svg-symbols svg {
    display: inline-block;
    flex: 0 0 60px;
    height: 60px;
    outline: #fffa 1px solid;
   }
