#playground button {
  margin: 0.2em;
  vertical-align: middle;
  text-align: center;
  height: 2em;
  width: 2em;
  line-height: 2em;
  color: #333;
  border: 0 none;
  font-weight: bold;
}

button.pristine {
  background: #8f8f8f;
  box-shadow: inset #bfbfbf 0.25em 0.25em 0.25em,
    inset #5f5f5f -0.25em -0.25em 0.25em;
}

button.touched {
  background: #9f9f9f;
  box-shadow: inset #6f6f6f 0.25em 0.25em 0.25em,
    inset #cfcfcf -0.25em -0.25em 0.25em;
}

button.mijn {
  background: transparent;
  border-radius: 50%;
  box-shadow: none !important;
  color: #0a5 !important;
  transform: scale(0.8);
}

.game-won button.mijn {
  background: linear-gradient(
      45deg,
      transparent 46%,
      currentColor 46%,
      currentColor 54%,
      transparent 54%
    ),
    linear-gradient(
      135deg,
      transparent 46%,
      currentColor 46%,
      currentColor 54%,
      transparent 54%
    );
}

.game-lost button.mijn {
  background: radial-gradient(ellipse at 25% 25%, #fff 0%, #000 33%);
}
