#playground {
  display: grid;
  justify-content: center;
  align-content: start;
  padding: 1.333em 0;
  user-select: none;
}

#playground button {
  font-size: calc(8em / var(--board-size));
  grid-column: var(--cell-col);
  grid-row: var(--cell-row);
}

#playground aside {
  grid-row: calc(var(--board-size) + 1);
  grid-column: 1 / span var(--board-size);
  display: flex;
  padding-block: 1ex;
}
