
/* Safeguard existing centering for smooth switching fullscreen mode */
section.screen,
#playground {
  margin-inline: auto;
}

#playground {
  padding: 1.333em 0;
}

#playground > * {
  padding-inline: 1em;
}

#playground:fullscreen {
  background: var(--medium-blue);
  overflow: auto;
  overscroll-behavior-x: contain;
}

#game-board {
  display: grid;
  align-content: start;
  width: fit-content;
  margin-inline: auto;
  user-select: none;
}

#game-board button {
  font-size: calc(8em / var(--board-size));
  grid-column: var(--cell-col);
  grid-row: var(--cell-row);
}

.screen:has(#playground) {
  width: fit-content;
}

@media only screen and (orientation: portrait) {
  #playground[role="main"] + nav {
    width: 100%;
  }

  #playground[role="main"] + nav .sticky-slider {
    margin-inline: auto;
  }
}

@media only screen and (orientation: landscape) {
  .screen:has(#playground) {
    min-width: var(--app-width);
  }

  #playground[role="main"] {
    min-width: calc(var(--app-width) - var(--nav-width));
  }
}
