
.time-tracker {
  --fill-color: var(--ultra-dark-blue);
}

.time-tracker.analogue {
  --time-tracker-size: 3em;
  --fill-color: var(--dark-blue);

  fill: none;
  stroke: var(--fill-color);
  stroke-width: 2;
  width: var(--time-tracker-size);
  height: var(--time-tracker-size);

  path {
    fill: var(--fill-color);
    stroke: var(--fill-color);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50px 50px;
  }
}

.time-tracker.digital {
  color: var(--fill-color);
  padding-inline: 1ex;

  span {
    font-size: 80%;
    width: 2ex;
  }
}
