.tips {
  grid-row: calc(var(--board-size) + 1);
  grid-column: 1 / span var(--board-size);
  display: flex;
  justify-content: space-around;
  padding-block: 1ex;
}

.tip {
  color: var(--ultra-dark-blue);
  padding-inline: 1ex;
}

.tip > * {
  font-size: 80%;
}

.tip button::before,
.tip button::after {
  content: none;
}

/* TIME */

#time-tracker span {
  width: 2ex;
}

/* MINE */

#mine-tracker span {
  display: inline-block;
}

#mine-tracker {
  text-align: center;
}

#mine-tracker .icon {
  width: .8em;
  aspect-ratio: 1;
}

#mine-tracker #mine {
  border-radius: 50%;
  background: radial-gradient(ellipse at 25% 25%, transparent 8%, currentcolor 33% )
}

#mine-tracker #flag::before {
  content: '⚑'
}

#mine-tracker #diff {
  margin-inline: .333ex;
}

/* BOARD */

#board-fitter {
  display: flex;
  gap: 0.5ex;
}

#board-fitter button {
  border: none;
  background: none;
  padding: 0;
}

#board-fitter *:has(> svg use[href]) {
  color: currentcolor;
}

#board-fitter button svg {
  aspect-ratio: 1;
  width: 1.414em;
  vertical-align: -20%;
}

#contain-fit,
:fullscreen.contain #contain-fit,
#cover-fit,
:fullscreen.cover #cover-fit,
#reset-fit,
:fullscreen #fullscreen-mode,
#window-mode {
  display: none;
}

:fullscreen #contain-fit,
:fullscreen.contain #reset-fit,
:fullscreen #cover-fit,
:fullscreen.cover #reset-fit,
:fullscreen #window-mode {
  display: block;
}

#playground {
  transition: opacity linear
}
