p,
dl {
  text-align: left;
}

dl {
  --term-width: 2.5em;
}

dt, dd {
  display: inline-block;
  vertical-align: top;
}

dt {
  width: var(--term-width);
}

dt svg {
  width: 1.22em;
  height: .89em;
  margin-block: -1px;
}

dt:has(text) svg {
  width: 1.6em;
  margin-top: .22em;
}

dt svg text#text-content {
  fill: currentcolor;
}

dd {
  margin-inline-start: 0;
  width: calc(100% - var(--term-width));
}

dl *:not(:first-of-type) {
  margin-block-start: 1ex;
}
