p,
dl {
  text-align: left;
}

dl {
  --term-width: 2.5em;
  --spacing: 1ex;

  background: linear-gradient(
    90deg,
    var(--darker-blue) var(--term-width),
    transparent var(--term-width)
  );
}

dt, dd {
  display: inline-block;
  vertical-align: top;
}

dt {
  width: var(--term-width);

  svg {
    aspect-ratio: 1;
  }
}

dd {
  margin-top: .62em;
  margin-left: var(--spacing);
  width: calc(100% - var(--term-width) - var(--spacing));
}
