#pausing {
  padding-block-start: 2em;

  button {
    border: none;
    background: none;
    width: 19em;
    height: 19em;
    margin: auto;
  }

  button svg {
    margin: 10%;
    width: 80%;
    height: 80%;
  }

  button use#full-mine {
    animation: 10s ease-in-out infinite slow-pulse;
  }

  button:hover circle#base-mine {
    animation: none;
  }

}

@keyframes slow-pulse {
  from {opacity: .4;}
  25% {opacity: .8;}
  50% {opacity: .5;}
  75% {opacity: .6;}
  to {opacity: .4;}
}
