ol {
  list-style: none;
  padding: 0;
}

li {
  text-align: left;
}

li header,
li footer {
  display: flex;
  align-items: baseline;
}

li {
  margin: 0.5em 0;
}

li header *,
li footer * {
  margin: 0;
  padding: 0;
  text-align: right;
}

li header .rank {
  flex: 0 0 2.5em;
  text-align: center;
}
li:first-child + li header .rank {
  color: var(--medium-gold);
  text-shadow: 1px 1px var(--light-gold);
}
li:first-child + li + li header .rank {
  color: var(--medium-silver);
  text-shadow: 1px 1px var(--light-silver);
}
li:first-child + li + li + li header .rank {
  color: var(--medium-bronze);
  text-shadow: 1px 1px var(--light-bronze);
}

li header .user {
  flex: 1 1 90%;
  text-align: left;
  padding: 0 0.5em;
}
li header .date {
  flex: 0 0 auto;
}

li footer .score {
  flex: 0 0 3.75em;
  text-align: center;
}
li footer .score::before {
  content: '(';
}
li footer .score::after {
  content: ')';
}
li footer .cells,
li footer .mines,
li footer .moves,
li footer .duration {
  flex: 1 0 20%;
}
