ol {
  list-style: none;
  padding: 0;
}

li {
  margin-block: 1em;
  text-align: left;
}

li header,
li footer {
  display: flex;
  align-items: baseline;
}
li footer {
  justify-content: space-between;
}

li.super {
  position: relative;
  margin-block: 0.5em;
}
li.super header {
  align-items: center;
}

li.latest {
  --radius: 1ex;

  color: white;
  outline: 1.5px solid var(--dark-blue);
  outline-offset: .5ex;
  border-radius: var(--radius);
  background: linear-gradient(105deg, var(--light-blue), var(--medium-blue), var(--dark-blue));
  margin-block: 1em;
  padding: calc(var(--radius) / 2);
  padding-inline-end: var(--radius);
}
li.latest .date {
  align-self: start;
}

li header *,
li footer * {
  margin: 0;
  padding: 0;
  text-align: right;
}

li header .rank {
  --rank-size: 2.5em;

  flex: 0 0 var(--rank-size);
  text-align: center;
}
li header .rank svg {
  width: var(--rank-size);
  height: var(--rank-size);
}

li header .user {
  flex: 1 1 90%;
  text-align: left;
  padding: 0 0.5em;
}
li header .date {
  flex: 0 0 auto;
}

li footer .points {
  flex: 0 0 3.75em;
  font-weight: bold;
  text-align: center;
}

li footer .efficiency-speed,
li footer .mines-cells,
li footer .moves,
li footer .duration {
  flex: 1 1 auto;
}

li:not(.legend) header .date,
li:not(.legend) footer div:not(.points) {
  font-size: 86%;
}

li.legend {
  position: sticky;
  z-index: 5;
  top: var(--screen-gutter);
  background: var(--light-blue);
  outline: var(--screen-gutter) var(--light-blue) solid;
  margin-block-end: 1.5em;
}

li.legend a {
  font-weight: bold;
  cursor: pointer;
}

li.legend h2 {
  line-height: 67%;
}

li.legend.user a.user,
li.legend.date a.date,
li.legend.points a.points,
li.legend.efficiency a.efficiency,
li.legend.speed a.speed,
li.legend.mines a.mines,
li.legend.cells a.cells,
li.legend.moves a.moves,
li.legend.duration a.duration {
  color: var(--state-red);
  text-decoration: underline 3px;
  text-underline-offset: 3px;
}
