ol {
  list-style: none;
  padding: 0;
}

li {
  text-align: left;
}

li header,
li footer {
  display: flex;
  align-items: baseline;
}

li.super header {
  align-items: center;
}

li {
  margin: 0.5em 0;
}

li header *,
li footer * {
  margin: 0;
  padding: 0;
  text-align: right;
}

li header .rank {
  --rank-size: 2.5em;

  flex: 0 0 var(--rank-size);
  text-align: center;
}
li header .rank svg {
  width: var(--rank-size);
  height: var(--rank-size);
}

li header .user {
  flex: 1 1 90%;
  text-align: left;
  padding: 0 0.5em;
}
li header .date {
  flex: 0 0 auto;
}

li footer .score {
  flex: 0 0 3.75em;
  text-align: center;
}
li footer .score::before {
  content: '(';
}
li footer .score::after {
  content: ')';
}
li footer .cells,
li footer .mines,
li footer .moves,
li footer .duration {
  flex: 1 0 20%;
}
