ol {
  list-style: none;
  padding: 0;
}

ol button {
  display: block;
  width: 100%;
  margin-block: 1em;
  background: transparent;
  border: none;
  text-align: left;
}

ol button header,
ol button article {
  display: flex;
  align-items: baseline;
}
ol button article {
  justify-content: space-between;
}

ol button.super {
  position: relative;
  margin-block: 0.5em;
}
ol button.super header {
  align-items: center;
}

ol button.latest {
  --radius: 1ex;

  outline: 1.5px solid var(--dark-blue);
  outline-offset: .5ex;
  border-radius: var(--radius);
  background: linear-gradient(105deg, var(--light-blue), var(--medium-blue), var(--dark-blue));
  margin-block: 1em;
  padding: calc(var(--radius) / 2) var(--radius);
}
ol button.latest .date {
  align-self: start;
}
ol button.latest * {
  color: white !important;
}

ol button header {
  margin-inline-start: calc(var(--radius) / -2);
}

ol button header *,
ol button article * {
  margin: 0;
  padding: 0;
  text-align: right;
}

ol button header .rank {
  --rank-size: 2.5em;

  flex: 0 0 var(--rank-size);
  text-align: center;
}
ol button header .rank svg {
  width: var(--rank-size);
  height: var(--rank-size);
}

ol button header .user {
  flex: 1 1 90%;
  text-align: left;
  padding: 0 0.5em;
}

ol button header .date {
  flex: 0 0 auto;
}

ol button article > .points {
  flex: 0 0 3.75em;
  font-weight: bold;
  text-align: center;
}

ol button article > :not(.points) {
  flex: 1 1 auto;
}

ol button article .combo * {
  margin-inline: 1px;
}

ol button article .combo span:first-of-type {
  margin-inline: 0 1px;
}

ol button article .combo span:last-of-type {
  margin-inline: 1px 0;
}

ol button header .date,
ol button article > :not(.points) {
  font-size: 86%;
}

.legend {
  position: sticky;
  z-index: 5;
  top: 0;
  display: block;
  width: 100%;
  background: var(--light-blue);
  border-block-end: 1.5px solid var(--medium-blue);
  border-spacing: 0;
  box-sizing: content-box;
  margin-inline: calc(-1 * var(--screen-gutter));
  padding-block: calc(.5 * var(--screen-gutter));
  padding-inline: var(--screen-gutter);
}

.legend tbody {
  display: table;
  width: 100%;
}

.legend button {
  font-weight: bold;
  background: transparent;
  border-style: solid;
  border-color: transparent;
  border-inline-width: 3px;
  border-block-width: 0;
  border-radius: .5ex;
  padding: 0 .333ex .333ex .333ex;
  line-height: 1;
}

.legend.rank .rank,
.legend.user .user,
.legend.date .date,
.legend.points .points,
.legend.efficiency .efficiency,
.legend.speed .speed,
.legend.mines .mines,
.legend.level .level,
.legend.cells .cells,
.legend.moves .moves,
.legend.duration .duration {
  color: var(--state-red);
  border-color: var(--state-red);
}

.legend.rank ~ ol .rank,
.legend.user ~ ol .user,
.legend.date ~ ol .date,
.legend.points ~ ol .points,
.legend.efficiency ~ ol .efficiency,
.legend.speed ~ ol .speed,
.legend.level ~ ol .level,
.legend.mines ~ ol .mines,
.legend.cells ~ ol .cells,
.legend.moves ~ ol .moves,
.legend.duration ~ ol .duration {
  font-weight: bold;
  color: var(--state-red);
}

svg.line-diagram {
  margin-block: 1.5em .5em;
}
