.screen {
  display: flex;
  margin: 0 auto;
  height: 100%;
  background: var(--light-to-white-blue);
  overflow: hidden;
  transition: opacity 0.5s linear;
}

.screen nav {
  background: var(--medium-to-dark-blue);
}

.screen nav button {
  font-size: 1.5em;
  font-weight: bold;
  background: transparent;
  color: white;
  border: 0 none;
  text-shadow: -0.02em -0.05em #000, 0.008em 0.02em #adf;
}

.screen nav button span {
  display: inline-block;
}

@media only screen and (orientation: portrait) {
  .screen {
    width: 24em;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
  }

  .screen article,
  .screen form {
    flex: 0 1 auto;
    box-sizing: border-box;
  }

  .screen nav {
    flex: 0 0 auto;
    display: flex;
    align-items: baseline;
    padding: 0.3em 0 0.667em;
  }

  .screen nav button {
    flex: 1 0 auto;
    line-height: 144%;
  }

  .screen nav button + button {
    border-left: 1px solid #37a;
  }
}

@media only screen and (orientation: landscape) {
  .screen {
    width: 27em;
    flex-wrap: nowrap;
  }

  .screen article,
  .screen form {
    flex: 1 1 auto;
  }

  .screen nav {
    flex: 0 0 4em;
    padding: 0 0.3em;
  }

  .screen nav button {
    font-size: 1.75em;
    line-height: 200%;
    width: 100%;
  }

  .screen nav button + button {
    border-top: 1px solid #37a;
  }
}
