.screen {
  --nav-width: 4em;
  --nav-height: 3.5em;

  display: flex;
  margin: 0 auto;
  width: var(--app-width);
  transition: opacity 0.5s linear;
}

.screen > article {
  background: var(--light-to-white-blue);
  flex: 1 1 auto;
}

/* not on laptop or desktop */
@media only screen and (hover: none) {
  .screen {
    border-top: 1px solid var(--medium-blue);
  }
}

@media only screen and (orientation: portrait) {
  .screen {
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: 100dvh;
    overscroll-behavior-x: contain;
  }

  .screen > article {
    box-sizing: border-box;
    min-width: var(--app-width);
    line-height: initial !important;
    overflow: auto;
  }
}

@media only screen and (orientation: landscape) {
  .screen {
    flex-wrap: nowrap;
    min-height: 100dvh;
  }

  .screen > nav {
    flex: 0 0 var(--nav-width);
  }
}
