.screen {
  display: flex;
  margin: 0 auto;
  width: var(--app-width);
  height: 100%;
  min-height: 100vh;
  background: var(--light-to-white-blue);
  transition: opacity 0.5s linear;
}

.screen > nav {
  background: var(--medium-to-dark-blue);
  display: flex;
}

.screen > nav button {
  --divider-spacing: 10%;
  --divider-size: calc(100% - (2 * var(--divider-spacing)));

  font-weight: bold;
  line-height: 144%;
  background: transparent;
  color: white;
  border: 0 none;
  padding: 0;
  text-shadow: -0.02em -0.05em black, 0.008em 0.02em var(--light-blue);
  aspect-ratio: 1;
}

.screen > nav button svg {
  aspect-ratio: 1;
}

.screen > nav button[disabled] {
  cursor: not-allowed;
  opacity: .5;
}

.screen > nav button span {
  display: inline-block;
}

@media only screen and (orientation: portrait) {
  .screen {
    --nav-height: 7ex;

    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
  }

  .screen > article,
  .screen > form {
    flex: 0 1 auto;
    box-sizing: border-box;
    max-width: 100%; /* center content when font-size is too big */
    margin-bottom: var(--nav-height);
  }

  .screen > nav {
    position: fixed;
    width: var(--app-width);
    bottom: 0;
    flex: 0 0 auto;
    align-items: baseline;
    height: var(--nav-height);
  }

  .screen > nav button {
    flex: 1 0 auto;
    height: 100%;
  }

  .screen > nav button svg {
    height: 100%;
  }

  .screen > nav button + button::before {
    content: '';
    display: inline-block;
    margin-block: var(--divider-spacing);
    height: var(--divider-size);
    border-left: 1px solid var(--dark-blue);
  }
}

/* not on laptop or desktop */
@media only screen and (hover: none) {
  .screen {
    border-top: 1px solid var(--medium-blue);
  }
}

/* do not show the html background when it would be too slender */
@media only screen and (max-width: 512px) and (orientation: portrait) {
  .screen {
    width: 100%;
  }

  .screen > article,
  .screen > form {
    width: var(--app-width);
    margin: 0 auto var(--nav-height);
  }

  .screen > nav {
    width: 100%;
  }

  .screen > nav::before,
  .screen > nav::after {
    --horizontal-padding: calc((100% - var(--app-width)) / 2);

    content: '';
    width: var(--horizontal-padding);
  }
}

@media only screen and (orientation: landscape) {
  .screen {
    flex-wrap: nowrap;
  }

  .screen > article,
  .screen > form {
    flex: 1 1 auto;
  }

  .screen > nav {
    flex: 0 0 4.6em;
    flex-direction: column;
  }

  .screen > nav::after {
    content: '';
    flex: 0 1 calc(100% - 22em);
  }

  .screen > nav button {
    flex: 1 1 auto;
    width: 100%;
    display: flex; /* safari */
    flex-wrap: wrap;
  }

  .screen > nav button svg {
    width: 100%;
  }

  .screen > nav button + button::before {
    content: '';
    display: block;
    margin-inline: var(--divider-spacing);
    width: var(--divider-size);
    border-top: 1px solid var(--dark-blue);
  }
}
