@import './fonts/DejaVu-Sans-fontfacekit/fontface.css';

:root {
  --light-blue: #adf;
  --medium-blue: #6ac;
  --dark-blue: #37a;
  --light-to-white-blue: linear-gradient(to bottom, #adf 0%, #fff 100%);
  --dark-to-light-blue: linear-gradient(to bottom, #37a 0%, #adf 100%);
  --medium-to-dark-blue: linear-gradient(to bottom, #6ac 0%, #37a 100%);
  --active-mode: #af5;
  --state-green: #0a5;
  --state-red: #c03;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'dejavu_sansbook', sans-serif;
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background: var(--dark-to-light-blue);
  height: 100%;
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#overlay:empty {
  z-index: -1;
}

button {
  font-family: inherit;
  cursor: pointer;
}
