@import './fonts/DejaVu-Sans-fontfacekit/fontface.css';

:root {
  --lightest-blue: #eefaff;
  --lighter-blue: #cef;
  --light-blue: #adf;
  --lightened-blue: #8bd;
  --medium-blue: #6ac;
  --darkened-blue: #58b;
  --dark-blue: #37a;

  --light-to-white-blue: linear-gradient(to bottom, var(--light-blue) 0%, white 100%);
  --light-to-medium-blue: linear-gradient(to bottom, var(--light-blue) 0%, var(--medium-blue) 100%);
  --dark-to-light-blue: linear-gradient(to bottom, var(--dark-blue) 0%, var(--light-blue) 100%);
  --medium-to-dark-blue: linear-gradient(to bottom, var(--medium-blue) 0%, var(--dark-blue) 100%);

  --min-lightest-blue: #e3f4ff;
  --dark-purple: #c6a;

  --lightest-grey: #e3e3e3;
  --lighter-grey: #ccc;
  --light-grey: #aaa;
  --lightened-grey: #999;
  --medium-grey: #777;
  --darkened-grey: #555;
  --dark-grey: #333;

  --bright-fire: #ff0;
  --light-fire: #fa0;
  --fire: #f00;
  --dim-fire: #a50;

  --active-mode: #af5;
  --state-green: #0a5;
  --state-red: #c03;

  --light-gold: #f3e7ae;
  --medium-gold: #c59735;
  --dark-gold: #c3922e;

  --light-silver: #d7d2d0;
  --medium-silver: #a29da1;
  --dark-silver: #8b878d;

  --light-bronze: #e2d1b2;
  --medium-bronze: #917758;
  --dark-bronze: #6b4c2e;
}

body,
section.screen,
.modal {
  font-size: 15px;
  line-height: 133%;
}

html,
body,
section.screen {
  height: 100%
}

body {
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
select,
textarea,
button {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, "Arial Unicode MS",
    "Arial Unicode", ArialUnicode, Arial, sans-serif;
  font-kerning: normal;
  letter-spacing: 0px;
  text-align: center;
}

input,
select,
textarea,
button {
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
}

#playground,
nav,
.adorn {
  font-family: "dejavu_sansbook", sans-serif;
  font-kerning: normal;
  font-size: inherit;
  line-height: 140%;
}

#app {
  background: var(--dark-to-light-blue);
  height: 100%;
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
}

#overlay:empty {
  z-index: -10;
}

button {
  font-family: inherit;
  cursor: pointer;
}
