
button.nav-option {
  background: transparent;
  border: 0 none;
  padding: 0;
  transition: color 2s;
}

button.nav-option.active {
  color: var(--active-color);
  transition: color 0s
}

button.nav-option[disabled] {
  cursor: not-allowed;
  opacity: .5;
}

button.nav-option span {
  display: inline-block;
}

nav button.nav-option.verbose::after {
  display: block;
  content: attr(title);
  font-size: 50%;
  text-transform: uppercase;
  font-weight: normal;

  @media only screen and (orientation: landscape) {
    position: relative;
    top: -1em;
    line-height: 1.67;
  }

  @media only screen and (orientation: portrait) {
    line-height: 0;
  }
}
