.screen > nav {
  background: var(--medium-to-dark-blue);
}

.screen > nav .sticky-slider {
  display: flex;
}

.screen > nav button {
  font-weight: bold;
  line-height: 144%;
  background: transparent;
  color: white;
  border: 0 none;
  padding: 0;
  text-shadow: -0.02em -0.05em black, 0.008em 0.02em var(--light-blue);
  transition: color 2s;
}

  .screen > nav button.active {
    color: var(--fire-yellow);
    transition: color 0s
  }

.screen > nav button[disabled] {
  cursor: not-allowed;
  opacity: .5;
}

.screen > nav button span {
  display: inline-block;
}

@media only screen and (orientation: portrait) {
  .screen {
    --nav-pad-top: .3em;
    --nav-pad-bottom: .7em;
  }

  .screen > nav {
    position: fixed;
    width: var(--app-width);
    bottom: 0;
    flex: 0 0 auto;
    padding-block: var(--nav-pad-top)  var(--nav-pad-bottom);
  }

  .screen > nav .sticky-slider {
    margin-inline: auto;
    width: var(--app-width);
  }

  .screen > nav button {
    flex: 1 0 auto;
  }

  .screen > nav button + button {
    border-left: 1px solid var(--dark-blue);
  }

  .screen > nav button svg {
    display: inline-block;
    height: var(--nav-height);
    aspect-ratio: 1;
    margin-block: calc(-1 * var(--nav-pad-top)) calc(-1 * var(--nav-pad-bottom));
  }
}

@media only screen and (orientation: landscape) {
  .screen {
    --nav-pad: .3em;
  }

  .screen > nav {
    padding-inline: var(--nav-pad);
  }

  .screen > nav .sticky-slider {
    position: sticky;
    top: 0;
    height: calc(var(--app-width) - var(--nav-width));
    flex-direction: column;
  }

  .screen > nav button {
    flex: 1 1 auto;
    width: 100%;
  }

  .screen > nav button + button {
    border-top: 1px solid var(--dark-blue);
  }

  .screen > nav button svg {
    display: block;
    width: var(--nav-width);
    aspect-ratio: 1;
  }
}
