@import './navOptionButton';

article[role="main"] + nav {
  --active-color: var(--fire-yellorange);

  background: var(--medium-to-dark-blue);
}

article[role="main"] + nav .sticky-slider {
  display: flex;
}

article[role="main"] + nav .nav-option  {
  font-weight: bold;
  line-height: 144%;
  color: white;
  text-shadow: -0.02em -0.05em black, 0.008em 0.02em var(--light-blue);
}

@media only screen and (orientation: portrait) {
  .screen {
    --nav-pad-top: .3em;
    --nav-pad-bottom: .7em;
  }

  article[role="main"] + nav {
    width: var(--app-width);
    flex: 0 0 var(--nav-height);
  }

  article[role="main"] + nav .sticky-slider {
    padding-block: var(--nav-pad-top)  var(--nav-pad-bottom);
    width: var(--app-width);
    overflow-x: auto;
  }

  article[role="main"] + nav .nav-option {
    flex: 1 0 auto;
  }

  article[role="main"] + nav .nav-option:not(:first-of-type) {
    border-left: 1px solid var(--dark-blue);
  }

  article[role="main"] + nav .nav-option svg {
    display: inline-block;
    height: var(--nav-height);
    aspect-ratio: 1;
    margin-block: calc(-1 * var(--nav-pad-top)) calc(-1 * var(--nav-pad-bottom));
  }
}

@media only screen and (orientation: landscape) {
  .screen {
    --nav-pad: .3em;
  }

  article[role="main"] + nav .sticky-slider {
    position: sticky;
    top: 0;
    flex-direction: column;
    padding-inline: var(--nav-pad);
  }

  article[role="main"] + nav .nav-option {
    flex: 1 1 auto;
    width: 100%;
  }

  article[role="main"] + nav .nav-option:not(:first-of-type) {
    border-top: 1px solid var(--dark-blue);
  }

  article[role="main"] + nav .nav-option svg {
    display: block;
    aspect-ratio: 1;
  }
}
