@import './navOptionButton';

.screen > nav {
  background: var(--medium-to-dark-blue);
}

.screen > nav .sticky-slider {
  display: flex;
  overscroll-behavior: contain;
}

.screen > nav button {
  font-weight: bold;
  line-height: 144%;
  color: white;
  text-shadow: -0.02em -0.05em black, 0.008em 0.02em var(--light-blue);
}

@media only screen and (orientation: portrait) {
  .screen {
    --nav-pad-top: .3em;
    --nav-pad-bottom: .7em;
  }

  .screen > nav {
    position: fixed;
    width: var(--app-width);
    bottom: 0;
    flex: 0 0 auto;
    z-index: 5;
  }

  .screen > nav .sticky-slider {
    padding-block: var(--nav-pad-top)  var(--nav-pad-bottom);
    width: var(--app-width);
    max-width: 100dvw;
    overflow-x: auto;
  }

  .screen > nav button {
    flex: 1 0 auto;
  }

  .screen > nav button + button {
    border-left: 1px solid var(--dark-blue);
  }

  .screen > nav button svg {
    display: inline-block;
    height: var(--nav-height);
    aspect-ratio: 1;
    margin-block: calc(-1 * var(--nav-pad-top)) calc(-1 * var(--nav-pad-bottom));
  }
}

@media only screen and (orientation: landscape) {
  .screen {
    --nav-pad: .3em;
  }

  .screen > nav .sticky-slider {
    position: sticky;
    top: 0;
    flex-direction: column;
    padding-inline: var(--nav-pad);
  }

  .screen > nav button {
    flex: 1 1 auto;
    width: 100%;
  }

  .screen > nav button + button {
    border-top: 1px solid var(--dark-blue);
  }

  .screen > nav button svg {
    display: block;
    aspect-ratio: 1;
  }
}
