.elastic-brace {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.elastic-brace line,
.elastic-brace path {
  fill: none;
  stroke: currentcolor;
  stroke-width: 1.2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
