dialog {
  width: 100%;
  height: 100%;

  background: #0003;
  border: 3px solid #6661;
}

dialog.ending {
  opacity: 0;
  transition: opacity var(--fadeout-time) ease;
}

/* DIALOG */

.dialog-body {
  background: var(--light-to-medium-blue);
  border-radius: .5em;
  box-shadow: -0.02em -0.05em 0.25em white, 0.15em 0.1em 0.25em black;
  position: fixed;
  left: 50%;
  top: 25%;
  width: 20em;
  transform: translate(-50%, -25%);
  z-index: 100;
}

.dialog-body .h3.content {
  font-size: 1.167em;
  margin: 1em;
}

.dialog-body .buttons {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
  min-height: 1em;
}

.dialog-body button {
  margin: 0.5em;
  line-height: 2.3em;
  padding: 0 1em;
  border: 0 none;
  border-radius: 0.5em;
  color: white;
  text-shadow: -0.02em -0.05em black, 0.008em 0.02em var(--light-blue);
  box-shadow: -0.02em -0.05em 0.1em black, 0.05em 0.02em 0.5em white;
  background: var(--medium-to-dark-blue);
}

.dialog-body button:first-child {
  margin-left: inherit;
  margin-right: auto;
}

.dialog-body button:last-child {
  margin-left: auto;
  margin-right: inherit;
}

.dialog-body button.cancel {
  background: var(--light-to-medium-blue);
  color: black;
  text-shadow: -0.02em -0.05em white, 0.008em 0.02em var(--light-blue);
}

/* CLASSES */

.approve-modal .dialog-body {
  text-align: left;
}

dialog svg.shield {
  --left: 50%;
  --top: 15%;

  position: fixed;
  font-size: 6em;
  left: var(--left);
  top: var(--top);
  width: 2.5em;
  aspect-ratio: 1;
  z-index: 110;
  transform: translate(-50%, -15%);

  animation: var(--fadeout-time) ease-out -shield
}

@keyframes -shield {
  from {
    left: 0%;
    top: 100%;
    opacity: 0;
    width: .5em;
  }
  to {
    left: var(--left);
    top: var(--top);
    opacity: 1;
  }
}
