.backdrop {
  background: var(--dark-to-light-blue);
  opacity: 50%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 90;
}

.dialog {
  background: var(--light-to-medium-blue);
  border-radius: .5em;
  box-shadow: -0.02em -0.05em 0.25em #fff, 0.15em 0.1em 0.25em #000;
  position: fixed;
  left: 50%;
  top: 25%;
  width: 20em;
  transform: translate(-50%, -25%);
  z-index: 100;
}

.dialog::before,
.dialog::after {
  position: absolute;
  z-index: -5;
  line-height: 71%;
  text-shadow: 0.015em 0.02em var(--dark-blue);
}

/* rang */
.dialog::before {
  content: attr(data-text-before);
  left: 0.1em;
  top: 0.1em;
  font-size: 5em;
  font-weight: 500;
  color: var(--medium-blue);
}

/* score */
.dialog::after {
  content: attr(data-text-after);
  left: 0.167em;
  bottom: 0.25em;
  color: var(--light-blue);
  font-size: 2.2em;
}

.modal h3.content {
  font-size: 1.167em;
  margin: 1em;
}

.modal .buttons {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
  min-height: 1em;
}

.modal button {
  margin: 0.5em;
  line-height: 2.3em;
  padding: 0 1em;
  border: 0 none;
  border-radius: 0.5em;
  color: #fff;
  text-shadow: -0.02em -0.05em #000, 0.008em 0.02em #adf;
  box-shadow: -0.02em -0.05em 0.1em #000, 0.05em 0.02em 0.5em #fff;
  background: var(--medium-to-dark-blue);
}

.modal button:first-child {
  margin-left: inherit;
  margin-right: auto;
}

.modal button:last-child {
  margin-left: auto;
  margin-right: inherit;
}

.dialog button.cancel {
  background: var(--light-to-medium-blue);
  color: #000;
  text-shadow: -0.02em -0.05em #fff, 0.008em 0.02em #adf;
}

.consent-modal .dialog {
  text-align: left;
}

.game-won-modal [data-text-before="1"]::before {
  color: var(--medium-gold);
  text-shadow: 0.015em 0.02em var(--light-gold);
}

.game-won-modal [data-text-before="2"]::before {
  color: var(--medium-silver);
  text-shadow: 0.015em 0.02em var(--light-silver);
}

.game-won-modal [data-text-before="3"]::before {
  color: var(--medium-bronze);
  text-shadow: 0.015em 0.02em var(--light-bronze);
}
