.backdrop {
  background: var(--dark-to-light-blue);
  opacity: 50%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 90;
}

.modal {
  background: var(--light-to-medium-blue);
  border-radius: .5em;
  box-shadow: -0.02em -0.05em 0.25em #fff, 0.15em 0.1em 0.25em #000;
  position: fixed;
  left: 50%;
  top: 25%;
  width: 20em;
  transform: translate(-50%, -25%);
  z-index: 100;
}

.modal:before,
.modal:after {
  position: absolute;
  z-index: -5;
  line-height: 71%;
  text-shadow: 0.015em 0.02em var(--dark-blue);
}

/* rang */
.modal:before {
  content: attr(data-text-before);
  left: 0.1em;
  top: 0.1em;
  font-size: 5em;
  font-weight: 500;
  color: var(--medium-blue);
}

/* score */
.modal:after {
  content: attr(data-text-after);
  right: 0.167em;
  top: 0.167em;
  color: var(--light-blue);
  font-size: 2.2em;
}

.modal h3.content {
  font-size: 1.167em;
  margin: 1.43em 1em;
}

.modal .buttons {
  margin: 0.5em;
  min-height: 1em;
}

.modal button {
  margin: 0.5em;
  line-height: 2.3em;
  padding: 0 1em;
  border: 0 none;
  border-radius: 0.5em;
  color: #fff;
  text-shadow: -0.02em -0.05em #000, 0.008em 0.02em #adf;
  box-shadow: -0.02em -0.05em 0.1em #000, 0.05em 0.02em 0.5em #fff;
  background: var(--medium-to-dark-blue);
}

.consent {
  text-align: left;
}

.consent .buttons {
  display: flex;
  justify-content: space-between;
}

.consent button:first-child {
  background: var(--light-to-medium-blue);
  color: #000;
  text-shadow: -0.02em -0.05em #fff, 0.008em 0.02em #adf;
}

.game-won[data-text-before="1"]:before {
  color: var(--medium-gold);
  text-shadow: 0.015em 0.02em var(--light-gold);
}

.game-won[data-text-before="2"]:before {
  color: var(--medium-silver);
  text-shadow: 0.015em 0.02em var(--light-silver);
}

.game-won[data-text-before="3"]:before {
  color: var(--medium-bronze);
  text-shadow: 0.015em 0.02em var(--light-bronze);
}

.game-won.modal:after {
  content: attr(data-text-after);
  right: auto;
  top: auto;
  left: 0.167em;
  bottom: 0.25em;
}

.game-won .buttons {
  text-align: right;
}
