svg text#text-content {
  fill: white;
  text-anchor: middle;
  dominant-baseline: middle;
  font-size: 1.5em;
}

*:has(> svg use[href^="#nav-"]) {
  color: white;
}

*:has(> svg use[href^="#plain-"]) {
  color: currentcolor;
}

  #plain-play path,
  #nav-play path {
    fill: currentcolor;
    stroke: none;
  }

  #plain-replay path,
  #plain-reset path,
  #nav-replay path,
  #nav-reset path {
    fill: none;
    stroke: currentcolor;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  #plain-question path,
  #nav-question path {
    /* font: normal 69px 'PT Sans Caption' */
    fill: currentcolor;
    stroke: none;
  }

  #plain-sliders path,
  #nav-sliders path {
    fill: none;
    stroke: currentcolor;
    stroke-width: 3;
  }

  #plain-sliders circle,
  #nav-sliders circle {
    fill: currentcolor;
    stroke: none;
  }

  #plain-return #pijlpunt,
  #nav-return #pijlpunt{
    fill: currentcolor;
    stroke: none;
  }

  #plain-return #haak,
  #nav-return #haak {
    fill: none;
    stroke: currentcolor;
    stroke-width: 6;
    stroke-linecap: butt;
  }

  #plain-empty circle,
  #nav-empty circle {
    fill: none;
    stroke: currentcolor;
    stroke-width: 6;
  }

  #plain-empty path,
  #nav-empty path {
    fill: currentcolor;
    stroke: none;
  }

#plain-podium path,
#nav-podium path {
  fill: currentcolor;
  stroke: none;
}

  #plain-eye path,
  #nav-eye path {
    fill: none;
    stroke: currentcolor;
    stroke-width: 3;
    stroke-linejoin:round;
  }

  #plain-eye circle,
  #nav-eye circle {
    fill: none;
    stroke: currentcolor;
    stroke-width: 7.5;
  }
