
#nav-play {
  path {
    fill: white;
    stroke: none;
  }
}

#nav-restart,
#nav-reset {
  path {
    fill: none;
    stroke: white;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

#nav-question {
  path {
    /* font: normal 69px 'PT Sans Caption' */
    fill: white;
    stroke: none;
  }
}

#nav-sliders {
  path {
    fill: none;
    stroke: white;
    stroke-width: 3;
  }
  circle {
    fill: white;
    stroke: none;
  }
}

#nav-return {
  #pijlpunt {
    fill: white;
    stroke: none;
  }
  #haak {
    fill: none;
    stroke: white;
    stroke-width: 6;
    stroke-linecap: butt;
  }
}

#nav-empty {
  circle {
    fill: none;
    stroke: white;
    stroke-width: 6;
  }
  path {
    fill: white;
    stroke: none;
  }
}

#nav-podium path {
  fill: white;
  stroke: none;
}

#nav-eye {
  path {
    fill: none;
    stroke: white;
    stroke-width: 3;
    stroke-linejoin:round;
  }
  circle {
    fill: none;
    stroke: white;
    stroke-width: 7.5;
  }
}
